{% extends 'flatpages/default.html' %}

{% block extrahead %}
<style type="text/css">
  #wrapper {
      display: flex;
  }
  #mynetwork {
      height: 1000px;
      border: 1px solid lightgray;
      flex: 0 0 65%;
  }

  #thru {
      flex: 1;
      margin: 1.5em;
  }

</style>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />

{% endblock %}



{% block title %}
Agency Network
{% endblock %}



{% block content %}
<div id="content-main">
<h1>Agency Network</h1>
  <div id="wrapper">
    <div id="mynetwork"></div>
    <div id="thru"></div>
  </div>

  <img src="{{ export_id }}_degree_loglog.png" width="33%"/>
</div>


<script type="text/javascript">
  var nodes = null;
  var edges = null;
  var network = null;

  nodes = [
  {% for n in nodes %}
  {id: "{{ n.0 }}", value: {{ n.1 }}, label: '{{ n.2 }}', shape: 'box', color: '{{ n.3 }}'},
  {% endfor %}
  ];

  edges = [
  {% for e in edges %}
  {from: "p{{ e.person.id }}", to: "a{{ e.action.id }}", arrows: {to: true}},
  {% endfor %}
  ];

  var edge_data = {};
  {% for e, d in edge_data.items %}
  edge_data["{{ e }}"] = '{{ d|safe }}';
  {% endfor %}

  // Instantiate our network object.
  var container = document.getElementById('mynetwork');
  var data = {
  nodes: nodes,
  edges: edges
  };
  var options = {
  nodes: {
      shape: 'dot',
      width: (window.innerWidth - 25) + "px",
      height: (window.innerHeight - 75) + "px"
  }
  };

  network = new vis.Network(container, data, options);

  network.on("click", function (params) {

  var node_id = params['nodes'][0];
  if (node_id.startsWith('a')) {
  document.getElementById('thru').innerHTML = edge_data[node_id];
  } else {
  document.getElementById('thru').innerHTML = "";
  }
  });
</script>

</div>
{% endblock %}
