{% extends 'flatpages/default.html' %}

{% block extrahead %}
<style type="text/css">
  #mynetwork {
      width: 1000px;
      height: 800px;
      border: 1px solid lightgray;
  }
</style>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css" />

{% endblock %}


{% block title %}
Cognitive Map
{% endblock %}


{% block content %}
<script type="text/javascript">
  var nodes = null;
  var edges = null;
  var network = null;
  
  function draw() {
      nodes = [
	  {% for n in nodes %}
	  {id: {{ n.0 }}, value: {{ n.1 }}, label: '{{ n.2 }}', shape: 'box', color: '{{ n.3 }}'},
	  {% endfor %}
      ];
      
      // create connections between people
      // value corresponds with the amount of contact between two people
      edges = [
	  {% for e in edges %}
	  {from: {{ e.source.id }}, to: {{ e.target.id }}, arrows: {to: true}, width: {{ e.width }}},
	  {% endfor %}
      ];
      
      // Instantiate our network object.
      var container = document.getElementById('mynetwork');
      var data = {
	  nodes: nodes,
	  edges: edges
      };
      var options = {
	  
	  "edges": {
	      "smooth": false
	  },
	  
	  "physics": {
	      "barnesHut": {
		  "gravitationalConstant": -10000,
		  "centralGravity": 4.25,
		  "springLength": 300,
		  "springConstant": 0.045,
		  "damping": 0.99,
		  "avoidOverlap": 0.3
	      },
	      "minVelocity": 0.75
	  }
	  
      };
      network = new vis.Network(container, data, options);
  }
</script>

<div id="content-main">
  <h1>Cognitive Map</h1>

  <div id="mynetwork"></div>
  <img src="{{ export_id }}_degree_loglog.png" width="33%"/>

</div>

<script type="text/javascript">
  draw();
</script>

{% endblock %}

  
