asgiref==3.2.10
attrs==19.3.0
backcall==0.1.0
bleach==3.1.4
certifi==2020.6.20
chardet==3.0.4
color-tol==0.1.3
colorlover==0.3.0
colour==0.1.5
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
Django==3.1
django-advanced-filters==1.1.1
django-allauth==0.42.0
django-braces==1.13.0
django-grappelli==2.12.2
django-markdown2==0.3.1
djangoql==0.14.0
docutils==0.15.2
entrypoints==0.3
flake8==3.7.7
idna==2.10
importlib-metadata==0.23
ipykernel==5.1.3
ipython==7.5.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
jedi==0.13.3
Jinja2==2.10.3
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.4
jupyter-console==6.0.0
jupyter-core==4.6.0
kiwisolver==1.2.0
lml==0.1.0
markdown2==2.3.9
MarkupSafe==1.1.1
matplotlib==3.1.2
mccabe==0.6.1
mistune==0.8.4
more-itertools==7.2.0
nbconvert==5.6.0
nbformat==4.4.0
networkx==2.2
notebook==6.0.1
numpy==1.19.1
oauthlib==3.1.0
odfpy==1.4.1
palettable==3.2.0
pandas==1.1.1
pandocfilters==1.4.2
parso==0.4.0
pexpect==4.7.0
pickleshare==0.7.5
Pillow==7.2.0
pkg-resources==0.0.0
pkginfo==1.5.0.1
ply==3.11
prometheus-client==0.7.1
prompt-toolkit==2.0.9
ptyprocess==0.6.0
pycodestyle==2.5.0
pydot==1.4.1
pyexcel==0.6.5
pyexcel-io==0.6.3
pyexcel-ods==0.6.0
pyflakes==2.1.1
Pygments==2.3.1
pygraphviz==1.5
pyparsing==2.4.7
pyrsistent==0.15.4
python-dateutil==2.8.1
python3-openid==3.2.0
pytz==2020.1
pyveplot==1.0.2
pyzmq==18.1.0
qtconsole==4.5.5
readme-renderer==24.0
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
scipy==1.5.2
seaborn==0.10.1
SecretColors==1.1.0
Send2Trash==1.5.0
simplejson==3.16.0
six==1.15.0
sqlparse==0.3.1
svgwrite==1.4
terminado==0.8.2
testpath==0.4.2
texttable==1.6.3
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.2
twine==2.0.0
urllib3==1.25.10
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.5.1
zipp==0.6.0
