{% extends "admin/index.html" %}




{% block content %}

<style type="text/css">
.column {
  float: left;
  width: 25%;
  border: red;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
    margin-bottom: 2em;
}

</style>
  

<div class="row">
  <div class="column" style="min-height: 135px; display: flex; align-items: flex-end;">
    <a href="/admin/nwa/agencyedge/">    
    <img src="/static/agency_edges.png" width="100px;" /><br />
    Agency Edges</a></div>
  <div class="column" style="min-height: 135px; display: flex; align-items: flex-end;">
    <a href="/admin/nwa/socialedge/">    
      <img src="/static/social_edges.png" width="100px;" /><br />
      Social Edges</a></div>
  <div class="column" style="min-height: 135px; display: flex; align-items: flex-end;">
    <a href="/admin/nwa/poweredge/">    
      <img src="/static/power_edges.png" width="100px;" /><br />
      Ego Power Edges</a></div>
  <div class="column" style="min-height: 135px; display: flex; align-items: flex-end;">
    <a href="/admin/nwa/mentaledge/">    
      <img src="/static/mental_edges.png" width="100px;" /><br />
      Mental Edges</a></div>  
</div>

<div id="content-main">    

  {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
</div>


{% endblock %}

